{% extends "layout.html" %}
{% set active_page = 'files' %}

{% block body %}
    <div class="tw-flex-1 tw-flex tw-flex-col tw-justify-center tw-items-center tw-p-4">
        <div class="tw-flex-1 tw-flex tw-flex-col tw-w-3/4 tw-bg-card tw-items-center tw-rounded-xl tw-p-4">
            <div>
                <header class="tw-text-xl tw-font-bold tw-text-text tw-pb-4">Exfiltrated Files</header>
            </div>
            <div class="tw-w-11/12 tw-bg-text tw-rounded tw-overflow-y-auto tw-m-5" style="height: 32rem;">
                <table class="tw-table-auto tw-w-full tw-p-0 tw-border-spacing-0">
                    <thead class="tw-sticky tw-top-0 tw-bg-darker-text">
                        <tr class="tw-h-10">
                            <th class="tw-text-background tw-text-center"><input class="placeholder:tw-italic placeholder:tw-opacity-80 placeholder:tw-text-background tw-h-6 tw-w-72 tw-text-center tw-text-background" type="text" placeholder="Session" id="session"></th>
                            <th class="tw-text-background tw-text-center"><input class="placeholder:tw-italic placeholder:tw-opacity-80 placeholder:tw-text-background tw-h-6 tw-w-80 tw-text-center tw-text-background" type="text" placeholder="File" id="file"></th>
                            <th class="tw-text-background tw-text-center">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in files %}
                            <tr class="tw-h-8">
                                <td class="tw-text-background tw-text-center tw-pt-2">{{ file.session }}</td>
                                <td class="tw-text-background tw-text-center tw-pt-2">{{ file.filename }}</td>			
                                <td class="tw-text-background tw-text-center tw-pt-2">
                                    <svg owner="{{ file.owner }}" session="{{ file.session }}" filename="{{ file.filename }}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"  class="tw-w-6 tw-h-6 tw-stroke-background tw-cursor-pointer" onclick="download(this)">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                                    </svg>       
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            function download(element) {
                var path = 'exfiltratedfiles/' + element.getAttribute("owner") + '/' + element.getAttribute("session") + '/';
                path += element.getAttribute("filename");
                location.href = path;
            }
        </script>
        <script>
            $('#session').on('input', function() {
                var value = $(this).val().toLowerCase();
                $('tbody tr').filter(function() {
                    $(this).toggle($(this).children().first().text().toLowerCase().indexOf(value) > -1)
                });
            });
            $('#file').on('input', function() {
                var value = $(this).val().toLowerCase();
                $('tbody tr').filter(function() {
                    $(this).toggle($(this).children().first().next().text().toLowerCase().indexOf(value) > -1)
                });
            });
        </script>
    </div>
{% endblock %}