<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botnet - {{ title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='/js/toastr.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/toastr.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Welcome!</h2>
            <form action="" method="post">
                {{ form.csrf_token }}
                {{ form.username.label }} {{ form.username }}
                {{ form.password.label }} {{ form.password }}
                {{ form.submit(class_="btn-hover color") }}
            </form>
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {% if 'ERROR' in message %}
                    <script>
                        toastr.error("{{ message }}");
                    </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>