<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botnet</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Welcome!</h2>
            <form action="" method="post">
                {{ form.csrf_token }}
                {{ form.username.label }} {{ form.username }}
                {{ form.password.label }} {{ form.password }}
                {{ form.submit(class_="btn-hover color") }}
            </form>
        </div>
    </div>
</body>
</html>